@import "common/foundation/variables";
@import "variables";

body{
  background-color: #fff;
  font-family:'PingFangSC-Medium', 'PingFang SC';
  
}
.categories-list,.navigation-topics{
  background: #fff url($banner) no-repeat;
  background-size: contain;
  background-position: top center;
}
#main{
  .d-header {
    height: 70px;
    border-bottom:none;
    background-color: transparent;
    .d-header-icons .icon img.avatar{
      background-color: #D8D8D8;
    }
    #site-logo{
      height: 56px;
    }
    .login-button, .sign-up-button{
      padding: 3px 17px;
      background: #3D52C5;
      border-radius: 25px;
    }
  }
}
.wrap{
  max-width: 1110px;
}
.custom-search-banner-wrap{
  padding:4.5em 0 11em;
  h1{
    font-size: 50px;
    font-weight: 500;
  }
  p{
    margin-bottom: 49px;
  }
  &>div{
    max-width: 700px;
  }
  .search-menu input[type="text"]{
    min-height: 50px;
    border-radius: 25px;
    border: 1px solid #D4D7E2;
    padding-left: 23px;
    background-color: transparent;
  }

  .btn.widget-button .d-icon{
    width: 24px;
    height: 25px;
    color: #fff;
  }
  .search-icon{
    background: #3D52C5;
    border-radius: 25px;
    
    .d-icon{
      padding:4px 27px;
    }
  }
  .search-context{
    top:3.67em;
  }
}

#main-outlet{
  .list-controls{
    .container{
      box-shadow: 0px 0px 5px 0px #cfd3eb;
      border-radius: 5px;
      padding: 17px 15px;
      background-color: #fff;
    }
    .combo-box .combo-box-header{
      width: 140px;
      padding:.58em .5em;
      border-radius: 5px;
      border: 1px solid #DDDDDD;
      font-size: 14px;
    }
  }
  .nav-pills>li>a{
    font-size: 14px;
    padding:0.858em 0.714em 0.858em 1.514em;
    background:url($category) no-repeat 0 center;
  }
  .nav-pills>li:nth-child(2)>a{
    background-image: url($latest);
  }
  .nav-pills>li:nth-child(3)>a{
    background-image: url($hot);
  }
  .nav-pills>li:nth-child(4)>a{
    background-image: url($read);
  }
  .nav-pills>li>a:hover, .nav-pills>li.active>a, .nav-pills>li>a.active{
    border-color:transparent;
    border-bottom: 1px solid #F1EFEF;
  }

  .categories-and-latest{
    flex-flow: column;
  }
  .category-list tbody{border-top:none;}
  .category-list.with-topics {
    margin-left: 3px;
    border: none;
    padding: 0;
    tbody tr{
      flex-wrap: wrap;
      box-shadow: 0px 0px 6px 0px #cfd3eb;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .category{
      width: 100%;
      max-width: unset;
      border-left: none !important;
      border-top: 5px solid;
      /* padding-bottom: 0; */
      border-radius: 5px;
      padding: 25px 25px 10px;
    }
    .latest{
      padding:0 25px 25px 25px;box-sizing: border-box;
      .featured-topic{
        position: relative;
        padding-left:17px;
        &::before{
          content: ".";
          font-size: 42px;
          color: var(--tertiary);
          position: absolute;
          top: -19px;
          left:0;
        }
      }
    }
  }
  .sidebar{
    box-shadow: 0px 0px 6px 0px #cfd3eb;
    border-radius: 5px;
    .sidebar-link{
      padding: 0 15px 15px;
      display: inline-block;
    }
  }
  .dbook-sidebar{
    border: none;
    padding-bottom: 5px;
    .badges{
      padding-bottom: 16px;
      border-bottom: 1px solid var(--primary-low, #e9e9e9);
    }
    .user-stat{
      font-size: 12px;
    }
  }
}

.archetype-regular{
    #topic-title{
        margin-bottom: 0;
        .title-wrapper{
            width: calc(100% - 170px);
            background: #F5F6FA;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding:20px;
            box-sizing: border-box;
            box-shadow: 0px 0px 6px 0px #cfd3eb;
            h1{
                font-size: 21px;
                margin-bottom: 9px;

            }
        }
    }
    .container.posts{
        grid-template-columns:auto 170px;
        .timeline-container{
            padding-left:30px;
        }
    }
    .topic-body{
        width: calc(100%);
        padding:0;
    }

    #suggested-topics .topic-list .main-link{
        max-width: 100%;
    }
    .topic-avatar{
        padding:0;
        width: 65px;
        .main-avatar{
            display: inline-block;
            width: 65px;
            height: 66px;
            text-align: center;
            line-height: 66px;
            background: #F5F6FA;
        }
        img.avatar{
            width: 35px;height: 35px;
        }
    }
    
    .topic-body .topic-meta-data{
        height: 66px;
        background: #F5F6FA;
        padding:0;
        padding-right: 20px;
    }
    .posts-wrapper{
        .topic-post article.boxed{
            box-shadow: 0px 0px 6px 0px #cfd3eb;
            border-radius: 5px;
        }
    }
    .topic-map{
        border-radius: 4px;
        position: relative;
        left: -38px;
        z-index: 9;
        background: #fff;
        border: none;
        .buttons .btn{background: #fff;}
    }

    .suggested-topics .suggested-topics-title{
        font-size: 21px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 24px;
    }
    .btn{
        border-radius: 25px;
        background: #EFEFEF;
    }
    .btn-primary{
      background: var(--tertiary);
    }
}

#create-topic{background-color: #3d52c5;}
body:not(.categories-list) .topic-list .main-link{
  border:none;
  box-shadow: 0px 0px 6px 0px #cfd3eb;
}
.select-kit .select-kit-header .caret-icon{color:#ddd;}
.select-kit.is-expanded .select-kit-body{border-radius: 5px;}
body:not(.categories-list) .topic-list .main-link .link-middle-line .topic-title{
  font-size: 18px;
}
body:not(.categories-list) .topic-list .main-link .byline img.avatar{
  background: #ededed;
}
.topic-list-bottom .footer-message{
  font-size: 14px;
}
body[class*="category-"],body.search-page {
  #main .d-header{background: #fff;box-shadow:0px 0px 6px 0px #cfd3eb;}
  #main-outlet{padding-top:1.2em;}
}
.fps-result{
  border:none;
  box-shadow: 0px 0px 6px 0px #cfd3eb;
}
.search-container .search-header{border-radius: 5px;background: #F5F6FA;}

body:not(.categories-list) .topic-list .main-link .link-middle-line{
    overflow:auto;
}
body:not(.categories-list) .topic-list .main-link .link-middle-line .topic-image{
    float:right;
    height: 80px;
    max-width: 165px;
    margin:0 0px 20px 20px
}
body:not(.categories-list) .topic-list .main-link .link-middle-line .topic-excerpt{
  color:var(--tertiary, #08c);
}

@media screen and (min-width: 650px) {
  .categories-list #main-outlet,.navigation-topics #main-outlet {
    @if $sidebar-alignment == "left" {
      grid-template-columns: 170px auto 240px; // 12 column grid
      
    } @else {
      grid-template-columns: 170px auto 240px;
      
    }
  }
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    
    #main-outlet{
      grid-template-columns: 170px auto;
      .list-container+span{
        display: none;
      }
      .topic-list{width: 101.5%;}
    }
  }

  body:not(.categories-list) .topic-list .topic-list-item-separator td{
    width: auto;
  }
}

@media screen and (min-width: 650px) and (max-width: 920px){
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) #main-outlet{
    .topic-list{
      width: 100%;
    }
  }
  .archetype-regular{
      #topic-title{
        .title-wrapper{
            width: calc(100%);
        }
      }
  }
  
}

//dbook-sidebar
.user-badge, .user-card .badge-section .more-user-badges a{
  font-size: 12px;
  background: #EFEFEF;
  border-radius: 17px;
  border:none;
}

// User

.user-table {
  padding: 1em;
  background: var(--secondary, $secondary);
  box-sizing: border-box;
  border-radius: 4px;
}

.boxed .row {
  display: flex;
  margin-bottom: 1em;
}

// Topic

.topic-body {
  @include fb-background();
  padding-right: 1em;
  width: calc(690px + (11px * 2) - 2em);
  border-radius: 0 4px 4px 0;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  &.highlighted {
    animation: none;
    @include fb-background();
  }
  @media screen and (max-width: 775px) {
    width: calc(100% - 60px);
  }
}

.topic-avatar {
  @include fb-background();
  padding-left: 1em;
  padding-bottom: 1.2em;
  border-radius: 4px 0 0 4px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  .avatar-flair {
    top: 36px;
  }
}

.topic-list .topic-list-item-separator td span {
  background: #e9ebee;
}

.small-action {
  margin-bottom: 1em;
}

.small-action .topic-avatar {
  margin-right: 0;
  padding: 1em 0 1em 0.75em;
  font-size: 1em;
  min-height: 26px;
  align-self: stretch;
  border-top: 1px solid var(--primary-low, $primary-low);
  .d-icon {
    height: 23px;
  }
}

.small-action-desc {
  border-radius: 0 4px 4px 0;
  border-top: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  background: var(--secondary, $secondary);
}

.time-gap.small-action {
  .small-action-desc {
    background: transparent;
    border: none;
  }
  .topic-avatar {
    display: none;
  }
}

.embedded-posts {
  .topic-avatar,
  .topic-body {
    border-top: 1px solid $border-color;
  }
}

.read-state {
  right: 10px;
}

.tag-drop-row {
  font-weight: normal !important;
  font-size: 0.875em;
}

.presence-users {
  background: transparent;
  margin-bottom: 1em;
}
